HumanResources/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3229/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3229/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3229/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployeesPerComapny_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesPerComapny" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEmployeesPerComapny_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesPerComapnyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCompanies" message="tns:IService1_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCompaniesResponse" message="tns:IService1_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCompany" message="tns:IService1_AddCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCompanyResponse" message="tns:IService1_AddCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCompany" message="tns:IService1_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCompanyResponse" message="tns:IService1_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeesPerComapny">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEmployeesPerComapny" message="tns:IService1_GetAllEmployeesPerComapny_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEmployeesPerComapnyResponse" message="tns:IService1_GetAllEmployeesPerComapny_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEmployee" message="tns:IService1_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEmployeeResponse" message="tns:IService1_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditEmployee" message="tns:IService1_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditEmployeeResponse" message="tns:IService1_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployee" message="tns:IService1_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeResponse" message="tns:IService1_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeesPerComapny">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEmployeesPerComapny" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/EditEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3229/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>